                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item top-item">
                            <a class="nav-link" href="#about">О клубе</a>
                        </li>
                        <li class="nav-item top-item">
                            <a class="nav-link" href="#coachers">Тренеры</a>
                        </li>
                        <li class="nav-item top-item">
                            <a class="nav-link" href="#gallery">Галерея</a>
                        </li>
                        <li class="nav-item top-item">
                            <a class="nav-link" href="#offers">Акции и предложения</a>
                        </li>
                         <li class="nav-item top-item">
                            <a class="nav-link" href="#contact">Контакты</a>
                        </li>                       
                    </ul>
                    
                    <!-- Links -->
                    <!-- Social Icon  -->
                    <ul class="navbar-nav nav-flex-icons">
                        <!-- <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li> -->
                        <li class="top-phone"><a href="tel:+78622591259">+7 (862) 259 1 259</a></li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/zfit.sochi/" target="_blank" class="nav-link">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible content -->