{namespace s=SKYFILLERS\SfFilecollectionGallery\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
	<div class="grid-container" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 370 }'>
    <f:if condition="{imageItems}">
        <s:Paginate objects="{imageItems}" as="paginatedObject" configuration="{paginationConfiguration}">
            <f:if condition="{showBackToGallerySelectionLink}">
                <f:link.action action="nested"><f:translate key="back_to_gallery_selection" /></f:link.action>
            </f:if>
            <f:for each="{paginatedObject}" as="object">
                <f:if condition="{settings.enableLightbox}">
                    <f:then>
                        <div class="grid-item wow fadeIn">
                            <a rel="{settings.lightbox}" title="{object.properties.title}"
                               href="{f:uri.image(src:'{object.uid}', treatIdAsReference:0, maxWidth:'{settings.image.lightboxWidth}')}">
                                <f:image image="{object}" width="{settings.image.width}c"
                                         alt="{object.properties.alternative}"
                                         title="{object.properties.title}"/>
                            </a>
                            <f:if condition="{object.properties.description}">
                                <f:if condition="{settings.enableDescription}">
                                    <p class="desc">{object.properties.description}</p>
                                </f:if>
                            </f:if>
                        </div>
                    </f:then>
                    <f:else>
                        <div class="sf-filecollection-gallery-image-container">
                            <f:image image="{object}" height="{settings.image.height}" alt="{object.properties.alternative}"
                                     title="{object.properties.title}"/>
                            <f:if condition="{object.properties.description}">
                                <f:if condition="{settings.enableDescription}">
                                    <p class="desc">{object.properties.description}</p>
                                </f:if>
                            </f:if>
                        </div>
                    </f:else>
                </f:if>
            </f:for>
        </s:Paginate>
    </f:if>
    </div>
</f:section>
